.fk {
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
}
.fk.medium {
  height: 24px;
  width: 24px;
  background-size: 24px 24px;
}
.fk.large {
  height: 32px;
  width: 32px;
  background-size: 32px 32px;
}

.fk-ad {
  background: url(/fk/ad.svg) no-repeat;
}

.fk-ae {
  background: url(/fk/ae.svg) no-repeat;
}

.fk-af {
  background: url(/fk/af.svg) no-repeat;
}

.fk-ag {
  background: url(/fk/ag.svg) no-repeat;
}

.fk-ai {
  background: url(/fk/ai.svg) no-repeat;
}

.fk-al {
  background: url(/fk/al.svg) no-repeat;
}

.fk-am {
  background: url(/fk/am.svg) no-repeat;
}

.fk-ao {
  background: url(/fk/ao.svg) no-repeat;
}

.fk-ar {
  background: url(/fk/ar.svg) no-repeat;
}

.fk-as {
  background: url(/fk/as.svg) no-repeat;
}

.fk-at {
  background: url(/fk/at.svg) no-repeat;
}

.fk-au {
  background: url(/fk/au.svg) no-repeat;
}

.fk-aw {
  background: url(/fk/aw.svg) no-repeat;
}

.fk-ax {
  background: url(/fk/ax.svg) no-repeat;
}

.fk-az {
  background: url(/fk/az.svg) no-repeat;
}

.fk-ba {
  background: url(/fk/ba.svg) no-repeat;
}

.fk-bb {
  background: url(/fk/bb.svg) no-repeat;
}

.fk-bd {
  background: url(/fk/bd.svg) no-repeat;
}

.fk-be {
  background: url(/fk/be.svg) no-repeat;
}

.fk-bf {
  background: url(/fk/bf.svg) no-repeat;
}

.fk-bg {
  background: url(/fk/bg.svg) no-repeat;
}

.fk-bh {
  background: url(/fk/bh.svg) no-repeat;
}

.fk-bi {
  background: url(/fk/bi.svg) no-repeat;
}

.fk-bj {
  background: url(/fk/bj.svg) no-repeat;
}

.fk-bl {
  background: url(/fk/bl.svg) no-repeat;
}

.fk-bm {
  background: url(/fk/bm.svg) no-repeat;
}

.fk-bn {
  background: url(/fk/bn.svg) no-repeat;
}

.fk-bo {
  background: url(/fk/bo.svg) no-repeat;
}

.fk-br {
  background: url(/fk/br.svg) no-repeat;
}

.fk-bs {
  background: url(/fk/bs.svg) no-repeat;
}

.fk-bt {
  background: url(/fk/bt.svg) no-repeat;
}

.fk-bv {
  background: url(/fk/bv.svg) no-repeat;
}

.fk-bw {
  background: url(/fk/bw.svg) no-repeat;
}

.fk-by {
  background: url(/fk/by.svg) no-repeat;
}

.fk-bz {
  background: url(/fk/bz.svg) no-repeat;
}

.fk-ca {
  background: url(/fk/ca.svg) no-repeat;
}

.fk-cc {
  background: url(/fk/cc.svg) no-repeat;
}

.fk-cd {
  background: url(/fk/cd.svg) no-repeat;
}

.fk-cf {
  background: url(/fk/cf.svg) no-repeat;
}

.fk-cg {
  background: url(/fk/cg.svg) no-repeat;
}

.fk-ch {
  background: url(/fk/ch.svg) no-repeat;
}

.fk-ci {
  background: url(/fk/ci.svg) no-repeat;
}

.fk-ck {
  background: url(/fk/ck.svg) no-repeat;
}

.fk-cl {
  background: url(/fk/cl.svg) no-repeat;
}

.fk-cm {
  background: url(/fk/cm.svg) no-repeat;
}

.fk-cn {
  background: url(/fk/cn.svg) no-repeat;
}

.fk-co {
  background: url(/fk/co.svg) no-repeat;
}

.fk-cr {
  background: url(/fk/cr.svg) no-repeat;
}

.fk-cu {
  background: url(/fk/cu.svg) no-repeat;
}

.fk-cv {
  background: url(/fk/cv.svg) no-repeat;
}

.fk-cw {
  background: url(/fk/cw.svg) no-repeat;
}

.fk-cx {
  background: url(/fk/cx.svg) no-repeat;
}

.fk-cy {
  background: url(/fk/cy.svg) no-repeat;
}

.fk-cz {
  background: url(/fk/cz.svg) no-repeat;
}

.fk-de {
  background: url(/fk/de.svg) no-repeat;
}

.fk-dj {
  background: url(/fk/dj.svg) no-repeat;
}

.fk-dk {
  background: url(/fk/dk.svg) no-repeat;
}

.fk-dm {
  background: url(/fk/dm.svg) no-repeat;
}

.fk-do {
  background: url(/fk/do.svg) no-repeat;
}

.fk-dz {
  background: url(/fk/dz.svg) no-repeat;
}

.fk-ec {
  background: url(/fk/ec.svg) no-repeat;
}

.fk-ee {
  background: url(/fk/ee.svg) no-repeat;
}

.fk-eg {
  background: url(/fk/eg.svg) no-repeat;
}

.fk-er {
  background: url(/fk/er.svg) no-repeat;
}

.fk-es {
  background: url(/fk/es.svg) no-repeat;
}

.fk-et {
  background: url(/fk/et.svg) no-repeat;
}

.fk-eu {
  background: url(/fk/eu.svg) no-repeat;
}

.fk-fi {
  background: url(/fk/fi.svg) no-repeat;
}

.fk-fj {
  background: url(/fk/fj.svg) no-repeat;
}

.fk-fk {
  background: url(/fk/fk.svg) no-repeat;
}

.fk-fm {
  background: url(/fk/fm.svg) no-repeat;
}

.fk-fo {
  background: url(/fk/fo.svg) no-repeat;
}

.fk-fr {
  background: url(/fk/fr.svg) no-repeat;
}

.fk-ga {
  background: url(/fk/ga.svg) no-repeat;
}

.fk-gb-eng {
  background: url(/fk/gb-eng.svg) no-repeat;
}

.fk-gb-nir {
  background: url(/fk/gb-nir.svg) no-repeat;
}

.fk-gb-sct {
  background: url(/fk/gb-sct.svg) no-repeat;
}

.fk-gb-wls {
  background: url(/fk/gb-wls.svg) no-repeat;
}

.fk-gb-zet {
  background: url(/fk/gb-zet.svg) no-repeat;
}

.fk-gb {
  background: url(/fk/gb.svg) no-repeat;
}

.fk-gd {
  background: url(/fk/gd.svg) no-repeat;
}

.fk-ge {
  background: url(/fk/ge.svg) no-repeat;
}

.fk-gf {
  background: url(/fk/gf.svg) no-repeat;
}

.fk-gg {
  background: url(/fk/gg.svg) no-repeat;
}

.fk-gh {
  background: url(/fk/gh.svg) no-repeat;
}

.fk-gi {
  background: url(/fk/gi.svg) no-repeat;
}

.fk-gl {
  background: url(/fk/gl.svg) no-repeat;
}

.fk-gm {
  background: url(/fk/gm.svg) no-repeat;
}

.fk-gn {
  background: url(/fk/gn.svg) no-repeat;
}

.fk-gp {
  background: url(/fk/gp.svg) no-repeat;
}

.fk-gq {
  background: url(/fk/gq.svg) no-repeat;
}

.fk-gr {
  background: url(/fk/gr.svg) no-repeat;
}

.fk-gs {
  background: url(/fk/gs.svg) no-repeat;
}

.fk-gt {
  background: url(/fk/gt.svg) no-repeat;
}

.fk-gu {
  background: url(/fk/gu.svg) no-repeat;
}

.fk-gw {
  background: url(/fk/gw.svg) no-repeat;
}

.fk-gy {
  background: url(/fk/gy.svg) no-repeat;
}

.fk-hk {
  background: url(/fk/hk.svg) no-repeat;
}

.fk-hm {
  background: url(/fk/hm.svg) no-repeat;
}

.fk-hn {
  background: url(/fk/hn.svg) no-repeat;
}

.fk-hr {
  background: url(/fk/hr.svg) no-repeat;
}

.fk-ht {
  background: url(/fk/ht.svg) no-repeat;
}

.fk-hu {
  background: url(/fk/hu.svg) no-repeat;
}

.fk-id {
  background: url(/fk/id.svg) no-repeat;
}

.fk-ie {
  background: url(/fk/ie.svg) no-repeat;
}

.fk-il {
  background: url(/fk/il.svg) no-repeat;
}

.fk-im {
  background: url(/fk/im.svg) no-repeat;
}

.fk-in {
  background: url(/fk/in.svg) no-repeat;
}

.fk-io {
  background: url(/fk/io.svg) no-repeat;
}

.fk-iq {
  background: url(/fk/iq.svg) no-repeat;
}

.fk-ir {
  background: url(/fk/ir.svg) no-repeat;
}

.fk-is {
  background: url(/fk/is.svg) no-repeat;
}

.fk-it {
  background: url(/fk/it.svg) no-repeat;
}

.fk-je {
  background: url(/fk/je.svg) no-repeat;
}

.fk-jm {
  background: url(/fk/jm.svg) no-repeat;
}

.fk-jo {
  background: url(/fk/jo.svg) no-repeat;
}

.fk-jp {
  background: url(/fk/jp.svg) no-repeat;
}

.fk-ke {
  background: url(/fk/ke.svg) no-repeat;
}

.fk-kg {
  background: url(/fk/kg.svg) no-repeat;
}

.fk-kh {
  background: url(/fk/kh.svg) no-repeat;
}

.fk-ki {
  background: url(/fk/ki.svg) no-repeat;
}

.fk-km {
  background: url(/fk/km.svg) no-repeat;
}

.fk-kn {
  background: url(/fk/kn.svg) no-repeat;
}

.fk-kp {
  background: url(/fk/kp.svg) no-repeat;
}

.fk-kr {
  background: url(/fk/kr.svg) no-repeat;
}

.fk-kw {
  background: url(/fk/kw.svg) no-repeat;
}

.fk-ky {
  background: url(/fk/ky.svg) no-repeat;
}

.fk-kz {
  background: url(/fk/kz.svg) no-repeat;
}

.fk-la {
  background: url(/fk/la.svg) no-repeat;
}

.fk-lb {
  background: url(/fk/lb.svg) no-repeat;
}

.fk-lc {
  background: url(/fk/lc.svg) no-repeat;
}

.fk-lgbt {
  background: url(/fk/lgbt.svg) no-repeat;
}

.fk-li {
  background: url(/fk/li.svg) no-repeat;
}

.fk-lk {
  background: url(/fk/lk.svg) no-repeat;
}

.fk-lr {
  background: url(/fk/lr.svg) no-repeat;
}

.fk-ls {
  background: url(/fk/ls.svg) no-repeat;
}

.fk-lt {
  background: url(/fk/lt.svg) no-repeat;
}

.fk-lu {
  background: url(/fk/lu.svg) no-repeat;
}

.fk-lv {
  background: url(/fk/lv.svg) no-repeat;
}

.fk-ly {
  background: url(/fk/ly.svg) no-repeat;
}

.fk-ma {
  background: url(/fk/ma.svg) no-repeat;
}

.fk-mc {
  background: url(/fk/mc.svg) no-repeat;
}

.fk-md {
  background: url(/fk/md.svg) no-repeat;
}

.fk-me {
  background: url(/fk/me.svg) no-repeat;
}

.fk-mf {
  background: url(/fk/mf.svg) no-repeat;
}

.fk-mg {
  background: url(/fk/mg.svg) no-repeat;
}

.fk-mh {
  background: url(/fk/mh.svg) no-repeat;
}

.fk-mk {
  background: url(/fk/mk.svg) no-repeat;
}

.fk-ml {
  background: url(/fk/ml.svg) no-repeat;
}

.fk-mm {
  background: url(/fk/mm.svg) no-repeat;
}

.fk-mn {
  background: url(/fk/mn.svg) no-repeat;
}

.fk-mo {
  background: url(/fk/mo.svg) no-repeat;
}

.fk-mp {
  background: url(/fk/mp.svg) no-repeat;
}

.fk-mq {
  background: url(/fk/mq.svg) no-repeat;
}

.fk-mr {
  background: url(/fk/mr.svg) no-repeat;
}

.fk-ms {
  background: url(/fk/ms.svg) no-repeat;
}

.fk-mt {
  background: url(/fk/mt.svg) no-repeat;
}

.fk-mu {
  background: url(/fk/mu.svg) no-repeat;
}

.fk-mv {
  background: url(/fk/mv.svg) no-repeat;
}

.fk-mw {
  background: url(/fk/mw.svg) no-repeat;
}

.fk-mx {
  background: url(/fk/mx.svg) no-repeat;
}

.fk-my {
  background: url(/fk/my.svg) no-repeat;
}

.fk-mz {
  background: url(/fk/mz.svg) no-repeat;
}

.fk-na {
  background: url(/fk/na.svg) no-repeat;
}

.fk-nc {
  background: url(/fk/nc.svg) no-repeat;
}

.fk-ne {
  background: url(/fk/ne.svg) no-repeat;
}

.fk-nf {
  background: url(/fk/nf.svg) no-repeat;
}

.fk-ng {
  background: url(/fk/ng.svg) no-repeat;
}

.fk-ni {
  background: url(/fk/ni.svg) no-repeat;
}

.fk-nl {
  background: url(/fk/nl.svg) no-repeat;
}

.fk-no {
  background: url(/fk/no.svg) no-repeat;
}

.fk-np {
  background: url(/fk/np.svg) no-repeat;
}

.fk-nr {
  background: url(/fk/nr.svg) no-repeat;
}

.fk-nu {
  background: url(/fk/nu.svg) no-repeat;
}

.fk-nz {
  background: url(/fk/nz.svg) no-repeat;
}

.fk-om {
  background: url(/fk/om.svg) no-repeat;
}

.fk-pa {
  background: url(/fk/pa.svg) no-repeat;
}

.fk-pe {
  background: url(/fk/pe.svg) no-repeat;
}

.fk-pf {
  background: url(/fk/pf.svg) no-repeat;
}

.fk-pg {
  background: url(/fk/pg.svg) no-repeat;
}

.fk-ph {
  background: url(/fk/ph.svg) no-repeat;
}

.fk-pk {
  background: url(/fk/pk.svg) no-repeat;
}

.fk-pl {
  background: url(/fk/pl.svg) no-repeat;
}

.fk-pm {
  background: url(/fk/pm.svg) no-repeat;
}

.fk-pn {
  background: url(/fk/pn.svg) no-repeat;
}

.fk-pr {
  background: url(/fk/pr.svg) no-repeat;
}

.fk-ps {
  background: url(/fk/ps.svg) no-repeat;
}

.fk-pt {
  background: url(/fk/pt.svg) no-repeat;
}

.fk-pw {
  background: url(/fk/pw.svg) no-repeat;
}

.fk-py {
  background: url(/fk/py.svg) no-repeat;
}

.fk-qa {
  background: url(/fk/qa.svg) no-repeat;
}

.fk-re {
  background: url(/fk/re.svg) no-repeat;
}

.fk-ro {
  background: url(/fk/ro.svg) no-repeat;
}

.fk-rs {
  background: url(/fk/rs.svg) no-repeat;
}

.fk-ru {
  background: url(/fk/ru.svg) no-repeat;
}

.fk-rw {
  background: url(/fk/rw.svg) no-repeat;
}

.fk-sa {
  background: url(/fk/sa.svg) no-repeat;
}

.fk-sb {
  background: url(/fk/sb.svg) no-repeat;
}

.fk-sc {
  background: url(/fk/sc.svg) no-repeat;
}

.fk-sd {
  background: url(/fk/sd.svg) no-repeat;
}

.fk-se {
  background: url(/fk/se.svg) no-repeat;
}

.fk-sg {
  background: url(/fk/sg.svg) no-repeat;
}

.fk-sh {
  background: url(/fk/sh.svg) no-repeat;
}

.fk-si {
  background: url(/fk/si.svg) no-repeat;
}

.fk-sj {
  background: url(/fk/sj.svg) no-repeat;
}

.fk-sk {
  background: url(/fk/sk.svg) no-repeat;
}

.fk-sl {
  background: url(/fk/sl.svg) no-repeat;
}

.fk-sm {
  background: url(/fk/sm.svg) no-repeat;
}

.fk-sn {
  background: url(/fk/sn.svg) no-repeat;
}

.fk-so {
  background: url(/fk/so.svg) no-repeat;
}

.fk-sr {
  background: url(/fk/sr.svg) no-repeat;
}

.fk-ss {
  background: url(/fk/ss.svg) no-repeat;
}

.fk-st {
  background: url(/fk/st.svg) no-repeat;
}

.fk-sv {
  background: url(/fk/sv.svg) no-repeat;
}

.fk-sx {
  background: url(/fk/sx.svg) no-repeat;
}

.fk-sy {
  background: url(/fk/sy.svg) no-repeat;
}

.fk-sz {
  background: url(/fk/sz.svg) no-repeat;
}

.fk-tc {
  background: url(/fk/tc.svg) no-repeat;
}

.fk-td {
  background: url(/fk/td.svg) no-repeat;
}

.fk-tf {
  background: url(/fk/tf.svg) no-repeat;
}

.fk-tg {
  background: url(/fk/tg.svg) no-repeat;
}

.fk-th {
  background: url(/fk/th.svg) no-repeat;
}

.fk-tj {
  background: url(/fk/tj.svg) no-repeat;
}

.fk-tk {
  background: url(/fk/tk.svg) no-repeat;
}

.fk-tl {
  background: url(/fk/tl.svg) no-repeat;
}

.fk-tm {
  background: url(/fk/tm.svg) no-repeat;
}

.fk-tn {
  background: url(/fk/tn.svg) no-repeat;
}

.fk-to {
  background: url(/fk/to.svg) no-repeat;
}

.fk-tr {
  background: url(/fk/tr.svg) no-repeat;
}

.fk-tt {
  background: url(/fk/tt.svg) no-repeat;
}

.fk-tv {
  background: url(/fk/tv.svg) no-repeat;
}

.fk-tw {
  background: url(/fk/tw.svg) no-repeat;
}

.fk-tz {
  background: url(/fk/tz.svg) no-repeat;
}

.fk-ua {
  background: url(/fk/ua.svg) no-repeat;
}

.fk-ug {
  background: url(/fk/ug.svg) no-repeat;
}

.fk-um {
  background: url(/fk/um.svg) no-repeat;
}

.fk-us-ca {
  background: url(/fk/us-ca.svg) no-repeat;
}

.fk-us {
  background: url(/fk/us.svg) no-repeat;
}

.fk-uy {
  background: url(/fk/uy.svg) no-repeat;
}

.fk-uz {
  background: url(/fk/uz.svg) no-repeat;
}

.fk-va {
  background: url(/fk/va.svg) no-repeat;
}

.fk-vc {
  background: url(/fk/vc.svg) no-repeat;
}

.fk-ve {
  background: url(/fk/ve.svg) no-repeat;
}

.fk-vg {
  background: url(/fk/vg.svg) no-repeat;
}

.fk-vi {
  background: url(/fk/vi.svg) no-repeat;
}

.fk-vn {
  background: url(/fk/vn.svg) no-repeat;
}

.fk-vu {
  background: url(/fk/vu.svg) no-repeat;
}

.fk-wf {
  background: url(/fk/wf.svg) no-repeat;
}

.fk-ws {
  background: url(/fk/ws.svg) no-repeat;
}

.fk-xk {
  background: url(/fk/xk.svg) no-repeat;
}

.fk-ye {
  background: url(/fk/ye.svg) no-repeat;
}

.fk-yt {
  background: url(/fk/yt.svg) no-repeat;
}

.fk-za {
  background: url(/fk/za.svg) no-repeat;
}

.fk-zm {
  background: url(/fk/zm.svg) no-repeat;
}

.fk-zw {
  background: url(/fk/zw.svg) no-repeat;
}/*# sourceMappingURL=flagkit.css.map */